.qv-add
  position: absolute
  button, button:hover
    background-color: #262625
    border: none
    color: #fff
  .highlightMenu-arrowClip
    position: absolute
    bottom: -10px
    left: 50%
    clip: rect(10px 20px 20px 0)
    margin-left: -10px
    .highlightMenu-arrow
      display: block
      width: 20px
      height: 20px
      background-color: #262625
      transform: rotate(45deg) scale(.5)
