primary = #026AA7
highlight = #5e98ba

.qv-cal
  padding: 20px 0px
  p
    text-align: center
  table
    margin: auto
    width:90%
  .selected
    background-color: highlight
    transition: all 0.2s
  td
    border: 1px solid #ddd
    background-color: white
    vertical-align: top
    padding: 2px
    width: 14.285%
    position: relative
    .content
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
  td:after
    content: ''
    display: block
    margin-top: 100%
  .gray
    color: #ddd
  .after:hover
    color: primary

.month-title
  text-align: center
  .h4
    padding: 10px