primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a
tertiary = #2acce5

.highlight 
    transform: translate(-20px, 0px)
    border-color: secondary

.addComment
    margin-bottom: 15px

#addCommentButton
    margin-bottom: 15px

.comment
    transition: all 100ms
    margin-bottom: 10px
    padding: 10px
    cursor: pointer

#comments
    transition: all 200ms

.comment img
    width: 32px