primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a
tertiary = #2acce5

.highlight 
    transform: translate(-20px, 0px)
    border-color: secondary
    div.qv-triangle
        display: block

.addComment
    margin-bottom: 15px

#addCommentButton
    margin-bottom: 15px

.comment
    transition: all 100ms
    margin-bottom: 10px
    padding: 10px
    cursor: pointer
    border-radius: 0px 4px 4px 4px
    .qv-triangle
        display: none
        border-right: 20px solid secondary
        width: 0px
        height: 0px
        border-bottom: 20px solid transparent
        position: absolute
        margin-left: -30px
        margin-top: -11px
    .inner
        border-right: 19px solid white
        border-bottom: 19px solid transparent
        margin-left: -28px
        margin-top: -10px

#comments
    transition: all 200ms
    .media
        overflow: visible

.comment img
    width: 32px