.sb-create-report-form
    padding: 5px
    margin: 5px
    display: flex

.pt-icon-arrow-right
    margin: 0 5px

.sb-create-report-button
    text-align: right

.sb-create-report-container
    display: flex
    justify-content: space-between