primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a
tertiary = #2acce5

.select
    cursor: pointer
    background-color: tertiary

quvl-tag:not([data-id=''])
    cursor: pointer
    background-color: highlight
quvl-tag.qv-hide
    background-color: transparent
    cursor: initial

quvl-tag.highlight, .highlight quvl-tag
    cursor: pointer
    background-color: secondary!important