primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a

.qv-header
  a, a:active, a:visited
    color: white
  .dropdown-menu
    background-color: highlight
    border: none
    li:hover a
      background-color: secondary!important
      color: white
  .open a
    background-color: highlight!important
    border-radius: 0px!important

.navbar-default
  background-color: primary !important
  border-radius: 0px !important
  border: none !important

.navbar-default .navbar-nav>li>a, .navbar-brand
  font-family: 'Arial'
  color: white!important

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
  background-color: primary!important
  text-decoration: underline

.navbar-brand
  font-family: 'Fredoka One'!important
