.qv-manage-member
  padding: 5px 0px

.qv-manage-member img
  max-width: 50px

.qv-show-group, .qv-group, .qv-member-group
  padding: 10px
  margin: 10px

.qv-group-header
  button
    float: right
  padding-top: 0px
  font-size: 24px!important