.qv-splash
  padding: 3em 1em
  font-family: 'Fredoka One'
  text-align: center
  margin-top: -20px
  background: white
  width: 100%

.typewriter
  background-image: url('../../../assets/typewriter.jpg')
  background-position-x: left
  background-position-y: center
  background-size: cover
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  height: 500px