primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a
tertiary = #2acce5
svgorange = #F8AF3E
dark = #1C1B1A

.qv-logo
  font-family: 'Fredoka One'

.qv-first
    background: white

.qv-third
  background: svgorange
  font-family: 'Raleway-Light'
  color: #1C1B1A
  .qv-content
    padding-left: 1em
    padding-right: 1em
    li
      padding: 1em

.qv-last
  background: white
  p
    max-width: 800px
    margin: auto
  .h3
    padding: 2em

.qv-second
  background: tertiary
  text-align: center
  p
    max-width: 630px
    margin: auto
  .h3
    padding: 30px
    font-family: 'Roboto'

.qv-jumbo
  justify-content: center
  div
    padding-left: 1em
    padding-right: 1em
  h1
    font-size: 50px
    font-family: 'Fredoka One'
    span.qv-logo
      color: primary
  color: #1C1B1A
  height: 500px

.qv-splash
    font-family: 'Raleway-Light'
    font-size: 24px
  .qv-splash-nav
    font-size: 24px
    padding-left: 1em
    background: primary
    a, a:active, a:visited, a:hover
      background: primary!important
      color: white

.qv-splash-footer
  height: 300px
  text-align: center
  .h4
    margin: auto

p.qv-tryit
  text-align: center
  a, button
    border-color: transparent
    background: svgorange
    color: white
    box-shadow: 1px 1px 3px #e1e1e1
    border-radius: 15px
    padding: 5px 20px
    font-family: Baloo
    font-size: 20px
    cursor: pointer
  button
    background: primary
    box-shadow: 1px 1px 3px dark

.screenshot
  background-image: url('../../../assets/screenshot.png')
  background-position-x: center
  background-position-y: bottom
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  height: 450px
  margin-top: 50px

.qv-content
  height: 500px

.typewriter
  background-image: url('../../../assets/typewriter.svg')
  background-color: svgorange
  background-position-x: left
  background-position-y: center
  background-size: contain
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  height: 500px

.book
  background-image: url('../../../assets/book.svg')
  background-color: white
  background-position-x: center
  background-position-y: center
  background-size: contain
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  height: 500px

.vertical-align
    display: flex
    align-items: center

.copyright
  text-align: center
  font-size: 15px
  padding: 10px