primary = #026AA7
highlight = #5e98ba
secondary = #ffab4a
tertiary = #2acce5

@font-face {
    font-family: "ACaslonPro-Regular";
    src: url('../../assets/fonts/ACaslonPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Fredoka One";
    src: url('../../assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Bold";
    src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

html,
body.qv
    height: 100%
    background-color: #FAFAFA
    font-family: 'Roboto', sans-serif

::selection {
  background: tertiary;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

#content, #title {
    font-size: 20px
}

.card {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
}

#content {
    padding: 10px
}

.nav {
    font-family: 'Lato', sans-serif;
}

.date {
    font-size: 10px;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    text-align: center;
}