@font-face {
    font-family: "ACaslonPro-Regular";
    src: url('../../assets/fonts/ACaslonPro-Regular.otf') format('opentype');
}

html,
body {
    height: 100%;
}

::selection {
  background: #00c496; 
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 #content, #content p {
    font-family: 'ACaslonPro-Regular', sans-serif!important;
}

#content, #title {
    background: white
    font-size: 20px
}

#content {
    padding: 10px
}

.nav {
    font-family: 'Lato', sans-serif;
}

.date {
    font-size: 10px;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    text-align: center;
}

.select {
    cursor: pointer;
    background-color: #33C395;
    border-top: 8px solid #33C395;
}

quvl-tag.highlight {
    cursor: pointer;
    background-color: rgba(223, 52, 48, 1)!important;
}

.highlight {
    transform: translate(-5%, 0px);
}

quvl-tag {
    cursor: pointer;
    background-color: rgba(223, 52, 48, 0.3);
}

.comments {
    font-family: 'Lato', sans-serif;
    background: #e1e1e1;
}

.addComment {
    margin-bottom: 15px;
}

#addCommentButton {
    margin-bottom: 15px;
}

.comment {
    transition: transform 100ms;
    box-shadow: 1px 1px 3px #808080;
    background-color: white;
    margin: 10px;
    padding: 3px;
}

.comment-heading {
    margin-bottom: 3px;
}

.comment img {
    width: 32px;
}